/*
Colors: 
#E54E79;
#E56385;
#00B2A9;  
#75726C; gris oscuro
#EDE9E2;
*/
body{
	margin: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.logo img{
	width: 80px;
	position: relative;
	left: 15%;
	top: 20px;
}

.logo{
	background-color: #E54E79;
	height: 100px;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.logo a:hover{
	color: #00B2A9;
}

 li{
 	list-style: none;
 }

 a{
	text-decoration: none;
 }

 nav{
 	padding-right: 150px;
 }

 nav a{
 	float: right;
 	color:#EDE9E2;
 	padding: 20px;
	position: relative;
	bottom: 60px;
 }

 section img{
 	width: 100%;
 	position: relative;
 	top: 100px;
 	height: 750px;
 }

 h1{
 	color: #00B2A9;
 	font-size: 30px;
 }

 .contenedor{
 	background-color: #EDE9E2;
 	width: 500px;
 	height: 350px;
 	float: right;
 	padding: 40px;
 	bottom: 600px;
 	position: relative;
 }

 h3{
 	font-family: 'Open Sans', sans-serif;
 	color: #75726C;
 	position: relative;
 	bottom: 10px;
 }

 input{
 	background-color: #EDE9E2;
 	padding: 10px;
 	border: 0px;
 	border-bottom: 1px solid;
 	width: 80%;
 }

  button{
 	background-color: #E54E79;
 	border-radius: 20px;
 	width: 230px;
 	height: 50px;
 	top: 20px;
 	position: relative;
 	margin-bottom: 20px;
 }

 button:hover{
 	background-color: #00B2A9;
 }			

 h4, i{
 	font-family: 'Open Sans', sans-serif;
 	color: #FFF;
 	font-size: 16px;
 	line-height: 15px;
 	padding-bottom: 40px;
 	position: relative;
 }

 #play{
 	background-color: #00B2A9;
 	height: 600px;
 	width: 100%;
 	clear: both;
 	position: relative;
 	bottom: 500px;
 }

 #play h1{
 	color: #75726C; 
 	text-align: center;
 	padding: 20px;
 	background-color: #EDE9E2;
 	top: 80px;
 	position: relative;
 	font-family: 'Exo', sans-serif;
 	font-size: 50px;
 }
 
 .box-cars{
 	width: 80%;
 	height: 300px;
 	background-color: #EDE9E2;
 	position: relative;
 	top: 120px;
 	left: 10%;
 	text-align: center;
 }

 button.car{
 	padding: 0px 400px;
 	text-align: center;
 	height: 70px;
 	position: relative;
 	top: 30px;
 	width: 95%;
 	background-color: #00B2A9;
 }

 button.car:hover{
 	background-color: #E54E79;
 }

.box-cars i{
	color: #75726C; 
	font-size: 30px;
}

#play input{
	width: 20%;
	padding: 80px 20px 0px 20px;
}

 .autox{
	float: left;
	padding-left: 100px;
}

footer{
	background-color: #75726C; 
	position: relative;
	bottom: 500px;
	height: 300px;
	padding: 20px;
	color: #EDE9E2;	
}

footer i{
 	color: #00B2A9;
 	padding: 20px;
 	position: relative;
 	top: 100px;
 	float: right;
 	clear: left;
}

footer p{
	position: absolute;
	top: 50%;
	padding: 100px;
}

footer h2{
	padding-left: 100px;
}

i:hover{
	color: #E54E79;	
}

